<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>      
    </configSections>
    <connectionStrings>
      <add name="ConexionControlAcceso" connectionString="server=DESKTOP-TCCMQI0\SAM3;initial catalog=AccesoSteelgo-Vigilancia;User=sa;Password=maftec09;MultipleActiveResultSets=True;Connect Timeout=2000" />
      <add name="ConexionIBIX" connectionString="server=DESKTOP-TCCMQI0\SAM2;initial catalog=IBIXLocal;User=sa;Password=maftec09;MultipleActiveResultSets=True;Connect Timeout=2000" />
      
      
      <!--PONER AQUI LAS CADENAS DE CONEXION DE PRODUCCION-->      
      <!--<add name="ConexionControlAcceso" connectionString="server=DESKTOP-TCCMQI0\SAM3;initial catalog=AccesoSteelgo-Vigilancia;User=sa;Password=maftec09;MultipleActiveResultSets=True;Connect Timeout=2000" /> -->
      <!--<add name="ConexionIBIX" connectionString="server=DESKTOP-TCCMQI0\SAM2;initial catalog=IBIXLocal;User=sa;Password=maftec09;MultipleActiveResultSets=True;Connect Timeout=2000" />-->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>